<link rel="stylesheet" type="text/css" href="main.css">
<script src="animation.js"></script> 

<div class="main">
    <h1> I'm interested in learning <br>
        <span 
            class="txt-rotate"
            data-period="2000"
            data-rotate='[" Spanish!", " French.", " Korean!!", " Hindi.", " Portuguese.", "Mandarin.", "Arabic.", "Russian.", "German.", "Japanese."]'></span>
    </h1>
</div>

<div class="content">
    
    <div class="info">
        <h3>What is Learn Together?</h3>
        <p>Learn Together is an app aimed at introducing Native and Non-Native speakers.</p>
    </div>
    
    <div class="info">
        <h3>How does it work?</h3>
        <p>Upon sign up you'll answer a series of questions. Depending on your interested languages and proficiency we'll provide you with matches. These matches are potential individuals who can help you learn your interested language.</p>
    </div>
    
    <div class="info">
        <h3>Is Learn Together free?</h3>
        <p> Absolutely! The best way to learn a lenguage is by practicing. There's no better way to practice than by putting you in touch with a Native speaker.</p>
    </div>
    
</div>
