// Place all the styles related to the Contents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.content-box {
  height: 250px;
  overflow-y: scroll;
  
}
.box {
  width: 700px;
}