@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
    --blue: #017fe8;
}

html {
    background-image: url("BACKGROUND.svg"); 
    background-repeat: repeat-x;
    background-position: 0px 620px; 
    background-attachment: fixed;
}

body {
    max-width: 1280px;
    margin: 0 auto;
    font-family: 'Roboto';
    
}

a {
    color: black;
    font-weight: 100;
    text-decoration: none;
    display: inline-block;
    transition: all 0.5s;
}

.flex-container  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
  }

.navigation {
    display: flex;
    list-style: none;
    justify-content: space-between;
    
}

.navigation a {
    text-decoration: none;
    display: block;
    color: black;
    flex: 1;
    font-weight: bold;
    font-size: 14px;
}

.links {
    margin: 10px;
}

.signin > a {
    border: 3px solid var(--blue);
    border-radius: 20px;
    color: var(--blue);
    padding: 5px 10px 5px 10px;
}

.signin > a:hover {
    border: 3px solid var(--blue);
    border-radius: 20px;
    color: white;
    padding: 5px 10px 5px 10px;
    background: var(--blue);
    transform: scale(1.1);
}

.signup > a {
    border: 3px solid white;
    border-radius: 20px;
    color: black;
    padding: 5px 10px 5px 10px;
}

.signup > a:hover {
    border: 3px solid white;
    border-radius: 20px;
    color: var(--blue);
    padding: 5px 10px 5px 10px;
    transform: scale(1.1);
}

.main {
    display: flex;
    height: 400px;
    padding: 10px;
    color: black;
    justify-content: flex-start;
    align-items: center;
    font-size: 2em;
}

.txt-rotate {
    color: var(--blue);
}

.content {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    height: 500px;
}

.content p {
    text-align: justify;
    padding: 15px;
    line-height: 150%;
}

.info {
    flex: 1;
    flex-wrap: wrap;
    overflow: hidden;
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
    height: 250px;
    max-width: 300px;
    background: white;
    -webkit-box-shadow: 2px 0px 5px 2px rgb(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 0px 5px 2px rgb(0, 0, 0, 0.75);
    box-shadow: 2px 0px 5px 2px rgb(0, 0, 0, 0.75);
}

.info:hover {
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
    height: 250px;
    width: 300px;
    background: white;
    -webkit-box-shadow: 6px 3px 15px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 6px 3px 15px 2px rgba(0, 0, 0, 0.75);
    box-shadow: 6px 3px 15px 2px rgba(0, 0, 0, 0.75);
    transform: scale(1.1)
}
